<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin-top: 250px;">
    <div style="height: 100%; display: flex; justify-content: center; align-items: center; padding: 16px;">
      <h1>Bem Vindo a Aplicação</h1>
    </div>
  </ion-card>
  <ion-card>
    <div style="height: 100%; display: flex; justify-content: center; align-items: center; padding: 16px;">

      <h2>Use as abas abaixo para navegar.</h2>
    </div>
  </ion-card>
</ion-content>
