<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="true"></ion-menu-button>
  </ion-buttons>
  <ion-title style="text-align: center;">Resumo</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 100%; justify-content: center; padding: 16px;">
    <ion-card>Obrigado pela Preferência!</ion-card>
    <ion-card>A compra será processada em breve.</ion-card>

    <ion-list>
      <ion-item>Stastus: Pedido Confirmado</ion-item>
      <ion-item>Rastreamento: # 45KED456L</ion-item>
      <ion-item>Previsão de Entrega: 3 a 5 dias úteis</ion-item>
    </ion-list>
  </div>
</ion-content>
